@model ShowCase.Domain.Entities.Theme

<div class="well">
    <h3>
        @*<strong>@Model.Name</strong>*@
        <span class="pull-right label-primary"> @Model.MoreLinkInfo</span>
    </h3>

    <span class="lead"> @Model.Description</span>

</div>
